body{
  overflow-y: hidden;
  overflow-x: hidden;

  font-family: 'Pacifico', cursive;
}

#topPanel{
  display: flex;
  flex-flow: row nowrap;

  width: 100%;
  justify-content: center;
  position: absolute;
}
#topPanel > div {
  width: 35vw;
  height: 0.1vw;
  position: relative;
  top:2vh;
  border-radius: 50px;
  margin: 0;
  background-color: black;

  animation-name: background;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
#topPanel h1{
  color: black;
  background-position: -1px;
  animation-name: color;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  font-family: 'Comfortaa', cursive;
  font-size: clamp(20px,2vw, 1000px);
  margin: 0 3vw;
}


.block {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 20%;

  filter: drop-shadow(0.1vw 0.3vh 0.3vh rgba(0,0,0,0.25));

  display: flex;
  justify-content: center;
  align-items: center;
}
.one{
  font-size: 4vw;
  color: white;
  visibility: hidden;

  margin: 0;
  padding: 0 0 2vh 0;
}


#blocksContainer{
  width:min(35vw, 70vh);
  aspect-ratio: 1 / 1;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 5%;

  padding: 1.5vw;

  background-color: #f1f1f1;
  border-radius: 7%;
}

#mainContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: hidden;
  overflow-x: hidden;
}

#balloon {
  width: 20vh;
}

#scoreContainer {
  position: absolute;
  top:20vh;
  left: 8vw;

  animation-name: balloonMotion;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#score {
  color: white;
  font-size: 10vh;
  width: 20vh;
  text-align: center;

  position: relative;
  top: -65vh;
}

@keyframes color {
  0%   {color: #5FAD56;}
  20%  {color: #F2C14E;}
  40%  {color: #F78154;}
  80% {color: #D4CBE5;}
  100%   {color: #5FAD56;}
}

@keyframes background {
  0%   {background-color: #5FAD56;}
  20%  {background-color: #F2C14E;}
  40%  {background-color: #F78154;}
  80%  {background-color: #D4CBE5;}
  100% {background-color: #5FAD56;}
}

@keyframes balloonMotion {
  0%   {top: 20vh;}
  50%  {top: 30vh;}
  100% {top: 20vh;}
}