body{
  overflow-y: hidden;
  overflow-x: hidden;

  font-family: 'Pacifico', cursive;

  margin: 0;
}


#topPanel{
  width: 100%;
  margin: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  position: absolute;

  background-color: white;
  
  z-index: 10;
}
#topPanel > div {
  width: 35vw;
  height: 0.1vw;
  margin: 0;

  position: relative;
  top:4vh;

  border-radius: 50px;
  background-color: black;

  animation-name: background;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes background {
  0%   {background-color: #5FAD56;}
  20%  {background-color: #F2C14E;}
  40%  {background-color: #F78154;}
  80%  {background-color: #D4CBE5;}
  100% {background-color: #5FAD56;}
}
#topPanel h1{
  color: black;
  font-size: clamp(20px,2vw, 1000px);

  animation-name: color;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  
  margin: 0 3vw;
}
@keyframes color {
  0%   {color: #5FAD56;}
  20%  {color: #F2C14E;}
  40%  {color: #F78154;}
  80% {color: #D4CBE5;}
  100%   {color: #5FAD56;}
}


#mainContainer{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: hidden;
  overflow-x: hidden;

  position: relative;
  top:100vh;

  z-index: 5;
}
#blocksContainer{
  width:min(35vw, 70vh);
  aspect-ratio: 1 / 1;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 5%;

  padding: 1.5vw;

  background-color: #f1f1f1;
  border-radius: 7%;
}
.block {
  width: 100%;
  aspect-ratio: 1 / 1;

  border-radius: 20%;

  filter: drop-shadow(0.1vw 0.3vh 0.3vh rgba(0,0,0,0.25)) drop-shadow(-0.2vw -0.6vh 0.3vh rgba(255,255,255,0.7));

  display: flex;
  justify-content: center;
  align-items: center;
}
.one{
  font-size: 4vw;
  color: white;

  visibility: hidden;

  margin: 0;
  padding: 0 0 2vh 0;
}


#scoreContainer {
  width:10vw;
  aspect-ratio: 1 / 2.6;

  position: absolute;
  top:30vh;
  left: 35vw;

  animation-name: balloonMotion;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  z-index: 9;
}
#balloon {
  max-width: 100%;
  max-height: 100%;

  object-fit:contain;

  cursor: grab;
}
@keyframes balloonMotion {
  0%   {top: 20vh;}
  50%  {top: 30vh;}
  100% {top: 20vh;}
}
#score {
  color: white;
  font-size: 6vw;
  text-align: center;

  visibility: hidden;

  width: inherit;
  margin: 0;

  position:absolute;
}


#countDown {
  color: white;
  font-size: 30vh;

  visibility: hidden;

  position: absolute;
  top: 20vh;

  margin: auto;
}

#pUnderline {
  position: absolute;
  top: 95vh;

  margin: 0;

  font-family: 'Comfortaa', cursive;
  font-size: clamp(0.5em, 1vw, 5vh);
  font-weight: bold;

  white-space: nowrap;

  animation-name: underline;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}
@keyframes underline {
  0%   {left: -15vw;}
  100% {left: 115vw;}
}


@keyframes balloonDownAnimation {
  0%   {top: 20vh;}
  50%  {top: 120vh;}
  100% {top: 20vh;}
}
.ballonDown {
  animation-name: balloonDownAnimation !important;
  animation-duration: 5s !important;
  animation-iteration-count: infinite !important;
}

@keyframes mainContainerDownAnimation {
  0%   {top: -100vh}
  100% {top: 0vh}
}
.mainContainerDown {
  animation-name: mainContainerDownAnimation !important;
  animation-duration: 2.5s !important;
  animation-iteration-count: 1 !important;
}

@keyframes containerMoveLeft {
  0%   {left: 0vh}
  100% {left: 200vh}
}
.containerMoveLeft {
  animation-name: containerMoveLeft !important;
  animation-duration: 3s !important;
  animation-iteration-count: 1 !important;
}

